@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> ASP.NET</h1>
    <p class="lead">Vidly is a video rental application developed is ASP.NET MVC5 Framework. Here you can register your account and view our movie collection. There are limited number of subscription catagories. I have developed this application only to enhance my MVC5 framework skills. </p>
    
</div>